.container{
    display: flex;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

.image{
    width: 30px;
    height: 30px;
}

.text{
    color: #F5F5F5;
}

.profile{
    margin: 0 10px 0 60px;
    display: flex;
    align-items: center;
}
.profile_icon{
    width: 25px;
    height: 25px;
}
.profile_link{
    text-decoration: none;
    color: #F5F5F5;
}
.link_container{
    margin-left: 15px;
    position: relative;
    cursor: pointer;
    line-height: 1;
    margin-bottom: 5px;
}
.link_container:after{
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    bottom: -5px;
    height: 2px;
    background-color: #F5F5F5;
    content: "";
    transition: width 0.3s ease-out;
}
.link_container:hover:after,
.link_container:focus:after{
    width: 100%;
}
