.flex_container{
    max-width: 1300px;
    width: 1300px;
    margin: 50px 60px 0 auto;
    display: flex;
    justify-content: space-between;
}
.social_networks{}

.social_link{
    &:not(:last-child){
        margin-right: 100px;
    }
}

.link{
    position: relative;
    color: #000000;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    margin-bottom: 5px;
}
.link:after{
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #000000;
    content: "";
    transition: width 0.3s ease-out;
}
.link:hover:after,
.link:focus:after{
    width: 100%;
}
