.wrapper{
    font-family: Helvetica, sans-serif;
    padding-left: 150px;
}
.text{
    margin: 20px 0 20px 0;
}
.title{
    margin: 8px 0 8px 0;
}
.image{
    width: 500px;
    height: 350px;
    border-radius: 10px;
}
.image_container{
    margin-left: 40px;
}
.machine_info{
    width: 470px;
}
.info{
    &:not(:last-child){
        margin-bottom: 8px;
    }
}
.machine_info_container{
    display: flex;
}
.model{
    &:not(:last-child){
        margin-bottom: 20px;
    }
}