.App{
    padding: 15px;
    display: grid;
    grid-template-areas:
    "header header"
    "content content"
    "footer footer";
    grid-template-rows: 1fr;
    grid-template-columns:2fr 3fr ;
    max-width: 1300px;
    margin: 0 auto;
}

.main_content{
    grid-area: content;
}

