.App{
    display: grid;
    grid-template-areas:
    "header header"
    "content content"
    "footer footer";
    grid-template-rows: 80px 1fr 148px;
    grid-template-columns:1fr 2fr;
}

.main_content{
    grid-area: content;
    flex: 1 1 auto;
}
