.wrapper{
    margin-top: 100px;
}
.item{
    display: grid;
    grid-template-areas: "model container";
    &:not(:last-child){
        margin-bottom: 40px;
    }
    border: #6600ff 2px solid;
    border-radius: 10px;
    padding: 15px;
}
.model{
    grid-area: model;
    border-radius: 10px;
    width: 600px;
    height: 400px;
}

.container{
    grid-area: container;
}

.text{
    width: 500px;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

.image{
    width: 500px;
    height: 300px;
}